{
  "openapi": "3.1.0",
  "info": {
    "title": "DEVision Job Manager API",
    "description": "API for the Job Manager subsystem of the DEVision job portal platform. Provides endpoints for company registration, authentication, profile management, job posting, applicant search, and premium subscriptions.",
    "version": "1.0.0",
    "contact": {
      "name": "SaintGiong JM Team",
      "email": "support@jm.saintgiong.ttr.gg"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.jm.saintgiong.ttr.gg/api/v1/sgjm",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080/api/v1/sgjm",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Company registration, login, and token management"
    },
    {
      "name": "Profile",
      "description": "Company profile management"
    },
    {
      "name": "Jobs",
      "description": "Job post lifecycle management"
    },
    {
      "name": "Subscription",
      "description": "Premium subscription and payments"
    },
    {
      "name": "Search",
      "description": "Applicant search functionality"
    }
  ],
  "paths": {
    "/api/v1/sgjm/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new company",
        "description": "Create a new company account with email and password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with credentials",
        "description": "Authenticate company with email and password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout and revoke tokens",
        "description": "Revoke access and refresh tokens",
        "responses": {
          "204": {
            "description": "Logout successful"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/companies/{companyId}/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get company profile",
        "description": "Retrieve company profile details",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update company profile",
        "description": "Update company profile details",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List company job posts",
        "description": "Get all job posts for the authenticated company",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED",
                "ARCHIVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job posts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPostList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create job post",
        "description": "Create a new job posting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPost"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job post",
        "description": "Get job post details by ID",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job post retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPost"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update job post",
        "description": "Update job post details",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job post updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPost"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Delete job post",
        "description": "Delete a job post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Job post deleted"
          }
        }
      }
    },
    "/api/v1/sgjm/subscriptions/status": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "Get subscription status",
        "description": "Get current subscription status for the authenticated company",
        "responses": {
          "200": {
            "description": "Subscription status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sgjm/subscriptions/checkout": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "Initiate checkout",
        "description": "Start premium subscription checkout process",
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "name",
          "country"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyProfile"
          }
        }
      },
      "CompanyProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "aboutUs": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "isPremium": {
            "type": "boolean"
          },
          "premiumExpiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "aboutUs": {
            "type": "string"
          }
        }
      },
      "JobPost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "employmentTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "FULL_TIME",
                "PART_TIME",
                "INTERNSHIP",
                "CONTRACT"
              ]
            }
          },
          "salaryMin": {
            "type": "number"
          },
          "salaryMax": {
            "type": "number"
          },
          "salaryCurrency": {
            "type": "string"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isPublic": {
            "type": "boolean"
          },
          "postedDate": {
            "type": "string",
            "format": "date-time"
          },
          "expiryDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateJobRequest": {
        "type": "object",
        "required": [
          "title",
          "description",
          "location"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "employmentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "salaryMin": {
            "type": "number"
          },
          "salaryMax": {
            "type": "number"
          },
          "salaryCurrency": {
            "type": "string",
            "default": "USD"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiryDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateJobRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "employmentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "salaryMin": {
            "type": "number"
          },
          "salaryMax": {
            "type": "number"
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "JobPostList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobPost"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SubscriptionStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "FREE",
              "ACTIVE",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "plan": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "CheckoutSession": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "path": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWE"
      }
    }
  }
}